body {
  padding: 50px;
  /* font: 16pt "Lucida Grande", Helvetica, Arial, sans-serif; */
  font-family: 'Oswald', sans-serif;
  font-size: 16pt;
  background-image: linear-gradient(green,rgb(255, 255, 255));
  background-repeat: no-repeat;
  text-align: center;
  border:  double;
  
}

a {
  color:rgb(184, 127, 21);
}

