<h1>All Dogs<a href='/users/{{userId}}/parks'></a></h1>

<div>
  {{#each parks}}
  <div>
    Park Name: {{this.park}}
    <a href='/users/{{../userId}}/parks/{{this._id}}'>Go to Parks</a>
  </div>
  {{/each}}
</div>