<h1>New User</h1>

<form action='/users' method='POST'>
    <div>Name: <input type='text' name='name'></div>
    <div>City: <input type='text' name='city'></div>
    <div>Zipcode <input type='text' name=''></div>
    
    <div><input type='submit' value='Create New User'></div>
</form>