<h1> MY User</h1>
{{user.name}}

<form action='/users/{{user.id}}' method='POST'>
  <input type="submit" value='Delete User'>
</form>


<br>| <a href='/users/{{user._id}}/edit'>Edit User</a> 
| <a href="/users/parks">My Parks</a> 
| <a href="/users/">Users</a>
|