
<h1>All Parks<a href='/users/{{userId}}/parks/new'>( new )</a></h1>

<div>
  {{#each parks}}
  <div>
    Band Name: {{this.name}}
    <a href='/users/{{../userId}}/bands/{{this._id}}'>Go to Parks</a>
  </div>
  {{/each}}
</div>
