
<h1>All Parks<a href='/users/{{userId}}/parks/new'>( new )</a></h1>

<div>
  {{#each parks}}
  <div>
    Park Name: {{this.park}}
    <a href='/users/{{../userId}}/parks/{{this._id}}'>Go to Parks</a>
  </div>
  {{/each}}
</div>
