<h1>All Parks<a href='/users/{{userId}}/parks/new'></a></h1>

<div>
  {{#each parks}}
  <div>
    Parks: {{park}}
    <a href='/users/{{../userId}}/parks/{{this._id}}'>Jones Bridge Park</a>
  </div>
  {{/each}}
</div>